html {
    overflow: auto;
    scrollbar-color: #6b6b6b #272727;
}

:root {
    --interface-font: Roboto, sans-serif;
    --h1-font: var(--interface-font);
    --h2-font: var(--interface-font);
    --h3-font: var(--interface-font);
    --h4-font: var(--interface-font);
    --monospace-font: ui-monospace, Menlo, Consolas, Liberation Mono, monospace;
}
.v-application {
    --panel-toolbar-icon-btn-width: 36px!important;
}

body {
    background: #121212;
}

#page-container {
    max-width: 1800px;
}

#page-container.fullscreen {
    max-width: none;
}

.overflowingContentWidgets {
    visibility: hidden;
}

.fill-width {
    width: 100%;
}

.mb-fix-2 {
    margin-bottom: -8px !important;
}
.mr-fix-2 {
    margin-right: -8px !important;
}
.mr-fix-1 {
    margin-right: -4px !important;
}

.gutter-2 {
    margin: -2px !important;
}
.gutter-2 > .col,
.gutter-2 > [class*='col-'] {
    padding: 1px !important;
}

.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 100% !important;
}
.h-auto {
    height: auto !important;
}

.position-absolute {
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.settings-tabs {
    height: 500px;
}

.settings-tabs .v-window {
    overflow-y: auto !important;
}

.editor-dialog .cm-editor {
    height: calc(100vh - 48px);
}

::-webkit-scrollbar {
    background-color: #272727;
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 7px;
    border: 4px solid #272727;
    min-width: 100px;
    min-height: 100px;
}

.bt-1,
.bb-1,
.bl-1,
.br-1 {
    border-width: 0;
    border-style: solid !important;
    border-color: rgba(255, 255, 255, 0.12) !important;
}

.bt-1 {
    border-top-width: 1px !important;
}

.br-1 {
    border-right-width: 1px !important;
}

.bb-1 {
    border-bottom-width: 1px !important;
}

.bl-1 {
    border-left-width: 1px !important;
}

.theme--light .bt-1,
.theme--light .bb-1,
.theme--light .bl-1,
.theme--light .br-1 {
    border-color: rgba(0, 0, 0, 0.12) !important;
}

/* Light theme */
html.theme--light {
    scrollbar-color: rgba(0, 0, 0, 0.55) #ffffff;
}

html.theme--light body {
    background: #ffffff !important;
}

html.theme--light ::-webkit-scrollbar {
    background-color: #ffffff;
}

html.theme--light ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #ffffff;
}

html.theme--light .os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgba(0, 0, 0, 0.4) !important;
}

html.theme--light .os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover {
    background: rgba(0, 0, 0, 0.55) !important;
}

/* workaround - make fonts vary by loose variable, it's unoptimized until i
 decide to tamper to certain sources or fall into rabbit hole of vue */
.v-application {
    font-family: var(--interface-font)
}
.v-application .text-h1 {
    font-family: var(--h1-font)!important
}
.v-application .text-body-1, .v-application .text-body-2, .v-application .caption, .v-application .subtitle-1, .v-application .subtitle-2, .vue-echarts-inner div, svg > g text {
    font-family: var(--interface-font)!important
}
.v-application .text-h2 {
    font-family: var(--h2-font)!important
}
.v-application .text-h3 {
    font-family: var(--h3-font)!important
}
.v-application .text-h4, .v-application .text-h5, .v-application .text-h6 {
    font-family: var(--h4-font)!important
}
.v-btn, .v-tab {
    text-transform: initial;
    letter-spacing: initial;
    text-indent: initial
}
code, kbd, pre, samp, .cm-editor .cm-scroller {
    font-family: var(--monospace-font)!important
}

/* unstable - remove ripple effect globally */
.v-ripple__container {
  display: none !important;
}

/* probably unstable changes */
.v-toolbar__content .v-btn.v-btn--icon.v-size--default, .v-toolbar__extension .v-btn.v-btn--icon.v-size--default {
    width: 36px!important;
    height: 36px!important;
    border-radius: 12px;
    margin: 6px
}

/* macy transitions */

.dialog-transition-enter, .dialog-transition-leave-to {
  transform: scale(80%);
}
.scale-transition-enter, .scale-transition-leave, .scale-transition-leave-to {
  transform: scale(80%);
}
.scale-transition-enter-active, .scale-transition-leave-active {
  transition:.1s cubic-bezier(.25, .8, .5, 1) !important
}
